
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html, #root {
  height: 100%;
  background-color: #3c3838; 
  font-family: Arial, sans-serif;
}


.App {
  background-color: #3c3838;
  min-height: 100vh;
  padding: 1rem 2rem;
}


h1 {
  color: white;
  margin-bottom: 1rem;
}
.heading {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 12px;
  color: #ffffff;
}



.dashboard {
  background-color: #5b5b5b;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 1.5rem;         
  margin-bottom: 2rem;  
  border-radius: 10px;
  
}

.dashboard > * {
  flex: 1 1 300px;  
  border-radius: 10px;
  overflow: hidden; 
}


.details-board {
  
  padding: 2rem;
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 1.5rem;
  margin: 1rem -2rem;
}

.details-board > * {
  flex: 1 1 300px;
  

  
}
